*        @open-switch/operations

*.yang   @open-switch/modeling
*.yhist  @open-switch/modeling
debian/  @open-switch/operations
*.md     @open-switch/documentation
.github/ @open-switch/administration
