name: {{ name }}
description: {{ description }}
repository: "https://github.com/open-switch/{{ repository }}"
team_uuids:
  - "e22748d1-7895-4621-96b3-a61b05da4453"
  - "e3092df6-84d1-4756-b720-41f5f5df0da5"
skip_queued_branch_builds: true
skip_queued_branch_builds_filter: "!master !dell*"
provider_settings:
  build_pull_request_forks: true
  build_pull_requests: true
  build_tags: true
  prefix_pull_request_fork_branch_names: true
  publish_commit_status: true
  publish_commit_status_per_step: false
  pull_request_branch_filter_enabled: false
  skip_pull_request_builds_for_existing_commits: true
  trigger_mode: "code"
steps:
  - name: ":pipeline:"
    type: script
    agent_query_rules: [ "queue=deploy" ]
    command: |
      curl -sL "https://raw.githubusercontent.com/open-switch/continuous-integration/master/pipelines/{{ file }}.yaml" | buildkite-agent pipeline upload --no-interpolation

# vim: ft=yaml
